@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-zinc-50 text-zinc-900 antialiased;
  }
}

@keyframes barber {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 34px 0;
  }
}

.animate-barber {
  animation: barber 2s linear infinite;
}

.build-row:hover:not(
    :has(.build-actions:hover, .job-pills:hover, .failure-spotlight:hover)
  ) {
  @apply bg-zinc-100;
}
